{% extends "base.html" %}
{% block title %}Meine Charaktere{% endblock %}
{% block content %}
    <h1>Meine Charaktere</h1>
    <table>
        <thead>
            <tr>
                <th>Charaktername</th>
                <th>Klasse</th>
                <th>Rollen</th>
                <th colspan="2">Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for charakter in charaktere %}
            <tr>
                <td>{{ charakter.charakter_name }}</td>
                <td>{{ charakter.klasse }}</td>
                <td>{{ charakter.rollen }}</td>
                <td><a href="{{ url_for('charakter_bearbeiten', charakter_id=charakter.id) }}" class="button" style="background-color: #f0ad4e;">Bearbeiten</a></td>
                <td>
                    <form action="{{ url_for('charakter_loeschen', charakter_id=charakter.id) }}" method="post" onsubmit="return confirm('Charakter wirklich löschen?');">
                        <button type="submit" style="background-color: #d9534f;">Löschen</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('charakter_erstellen') }}" class="button">Neuen Charakter hinzufügen</a>
{% endblock %}