{% extends "base.html" %}

{% block title %}Raid bearbeiten{% endblock %}

{% block content %}
    <h1>Raid bearbeiten</h1>
    <form method="post">
        <label for="raid_instanz">Raid-Instanz auswählen:</label>
        <select name="raid_instanz" id="raid_instanz" required>
            {% for instanz in instanzen %}
                <option value="{{ instanz['raid_instanz'] }}" {% if instanz['raid_instanz'] == raid['raid_instanz'] %}selected{% endif %}>{{ instanz['raid_instanz'] }}</option>
            {% endfor %}
        </select>

        <label for="raid_titel">Titel (optional):</label>
        <input type="text" id="raid_titel" name="raid_titel" value="{{ raid['raid_titel'] or '' }}">

        <label for="raid_datum">Datum:</label>
        <input type="date" id="raid_datum" name="raid_datum" value="{{ raid['raid_datum'] }}" required>

        <label for="raid_zeit">Startzeit:</label>
        <input type="time" id="raid_zeit" name="raid_zeit" value="{{ raid['raid_zeit'] }}" required>

        <button type="submit">Änderungen speichern</button>
    </form>
{% endblock %}